<main>
    <article>

      <!-- 
        - #PORTFOLIO
      -->

      <section class="section portfolio" aria-labelledby="portfolio-label">
        <div class="container">

          <h2 class="section-title headline-md text-center" id="portfolio-label">Dernier Projets</h2>

          <ul class="portfolio-list">

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/whynot.jpeg" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Développement Web</span>

                  <h3 class="title-md">Conception et réalisation de site web pour la vente en ligne et les annonces d'une
                     une start-up dans le domaine sportif </h3>

                  <p class="card-text">
                    J'ai eu le privilège de travailler avec la start-up Whynot, 
                    une entreprise dynamique opérant dans le domaine de l'événementiel et de 
                    l'équipement sportif. Mon rôle principal a été de développer un site e-commerce captivant, 
                    offrant une expérience d'achat exceptionnelle aux passionnés de sport.
                  </p>

                  <a href="#" class="btn btn-primary">Voir le projet</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/sms4entreprise.jpg" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Développement Web</span>

                  <h3 class="title-md">Conception d'une application d'envoie d'sms en masse</h3>

                  <p class="card-text">
                    Pendant mon stage de fin d'études (PFE), j'ai eu l'opportunité passionnante de travailler avec SFM-Technologie, 
                    une entreprise spécialisée dans les domaines de l'intelligence artificielle, des télécommunications et 
                    des technologies de l'information. Mon projet principal a été de développer une application 
                    d'envoi d'SMS en masse, offrant à SFM-Technologie un outil puissant pour communiquer 
                    efficacement avec ses utilisateurs
                  </p>

                  <a href="#" class="btn btn-primary">Voir le Projet</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/portfolio-3.jpg" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Développement web</span>

                  <h3 class="title-md">Site d'annonce de vente et de location</h3>

                  <p class="card-text">
                    J'ai eu à développer un site d'annonces et de vente similaire à "Le Bon Coin" dans le cadre d'un 
                    projet personnel. Ce projet a été réalisé de manière autonome, me permettant 
                    de mettre en pratique mes compétences en développement web et de créer 
                    une plateforme complète et fonctionnelle pour les utilisateurs souhaitant acheter ou vendre des produits.
                  </p>

                  <a href="#" class="btn btn-primary">Voir le Projet</a>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 800; --height: 540;">
                  <img src="./assets/images/portfolio-4.jpg" width="800" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
                    <ion-icon name="arrow-forward-sharp" aria-hidden="true"></ion-icon>
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Développement web</span>

                  <h3 class="title-md">Site vitrine polyvalent à usage multiple</h3>

                  <p class="card-text">    
                    J'ai eu l'opportunité de développer un site vitrine polyvalent à usage multiple, conçu pour répondre à 
                    différents besoins et secteurs d'activité. Ce projet a été réalisé 
                    de manière autonome, me permettant d'exprimer ma créativité et ma flexibilité en tant que développeur web.
                  </p>

                  <a href="#" class="btn btn-primary">Voir le Projet</a>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>