<main>
    <article>

      <!-- 
        - #SERVICE
      -->

      <section class="section service has-bg-image" aria-labelledby="service-label"
        style="background-image: url('assets/images/service-bg.png')">
        <div class="container">

          <h2 class="section-title headline-md text-center" id="service-label">Mes Services</h2>

          <ul class="service-list">

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(177, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="code-slash-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Développement web fullstack</h3>

                  <p class="body-sm">
                    Création d'applications web complètes en utilisant les frameworks Angular, 
                    Laravel ou Spring Boot.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(41, 99%, 64%)">

                <div class="card-media">
                  <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Conception d'interfaces utilisateur</h3>

                  <p class="body-sm">
                    Création d'interfaces web attrayantes, intuitives et conviviales 
                    en utilisant des techniques de web design moderne
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(19, 97%, 85%)">

                <div class="card-media">
                  <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Maintenance et mise à jour</h3>

                  <p class="body-sm">
                    Gestion de la maintenance continue des sites web, y compris les mises à jour 
                    régulières et la résolution des problèmes techniques
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(221, 100%, 79%)">

                <div class="card-media">
                  <ion-icon name="shapes-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Responsive design</h3>

                  <p class="body-sm">
                    Adaptation des sites web pour garantir une expérience utilisateur 
                    fluide sur tous les appareils et résolutions d'écran
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(76, 39%, 72%)">

                <div class="card-media">
                  <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Intégration de Photoshop</h3>

                  <p class="body-sm">
                    Utilisation de Photoshop pour créer des graphiques, des illustrations 
                    et des éléments visuels attrayants pour les sites web.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md" style="background-color: hsl(245, 100%, 90%)">

                <div class="card-media">
                  <ion-icon name="globe-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Fonctionnalités avancées</h3>

                  <p class="body-sm">
                    Implémentation de fonctionnalités avancées telles que les systèmes de paiement 
                    en ligne, l'authentification sécurisée et les intégrations API.
                  </p>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>