<main>
    <article>

      <!-- 
        - #SERVICE
      -->

      <section class="section service has-bg-image" aria-labelledby="service-label">
        <h2 class="intro" id="">MES SERVICES</h2>
        <div class="container">

          <ul class="service-list">

            <li class="card-container">
              <div class="card card-md bg-fullstack" >

                <div class="card-media">
                  <ion-icon name="code-slash-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Développement web fullstack</h3>

                  <p class="body-sm">
                    Création d'applications web complètes en utilisant les frameworks Angular, 
                    Laravel ou Spring Boot.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md bg-ui" >

                <div class="card-media">
                  <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Conception d'interfaces utilisateur</h3>

                  <p class="body-sm">
                    Création d'interfaces web attrayantes, intuitives et conviviales 
                    en utilisant des techniques de web design moderne
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md bg-maintenance" >

                <div class="card-media">
                  <ion-icon name="stats-chart-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Maintenance et mise à jour</h3>

                  <p class="body-sm">
                    Gestion de la maintenance continue des sites web, y compris les mises à jour 
                    régulières et la résolution des problèmes techniques
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md bg-responsive" >

                <div class="card-media">
                  <ion-icon name="shapes-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Responsive design</h3>

                  <p class="body-sm">
                    Adaptation des sites web pour garantir une expérience utilisateur 
                    fluide sur tous les appareils et résolutions d'écran
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md bg-photoshop" >

                <div class="card-media">
                  <ion-icon name="laptop-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Intégration de Photoshop</h3>

                  <p class="body-sm">
                    Utilisation de Photoshop pour créer des graphiques, des illustrations 
                    et des éléments visuels attrayants pour les sites web.
                  </p>
                </div>

              </div>
            </li>

            <li class="card-container">
              <div class="card card-md bg-api" >

                <div class="card-media">
                  <ion-icon name="globe-outline" aria-hidden="true"></ion-icon>
                </div>

                <div>
                  <h3 class="card-title title-sm">Fonctionnalités avancées</h3>

                  <p class="body-sm">
                    Implémentation de fonctionnalités avancées telles que les systèmes de paiement 
                    en ligne, l'authentification sécurisée et les intégrations API.
                  </p>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>