<!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <section class="cta">
      <div class="container">
        <h2 class="title-lg">Ok pour une collaboration ?</h2>

        <a routerLink="/contact" class="btn btn-tertiary">Contactez moi maintenant</a>
      </div>
    </section>
    <div class="container">

      <ul class="social-list">

        <li>
          <a href="https://www.linkedin.com/in/patrick-franck-8266ab170" class="social-link">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>

        <li>
          <a href="https://www.facebook.com/patrick.franck.146" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li>
          <a href="https://twitter.com/patrick_franck6" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="https://www.instagram.com/patrick_franck/" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>

      </ul>

      <p class="text-center">&copy; 2023 copyright tous droits réservés</p>

    </div>
  </footer>