.footer {
  background-color: #1a1a1a;
  color: white;
  padding-block: 60px 30px;
  width: 100%;             
  display: flex;           
  justify-content: center; 
}

.footer .container {
  width: 100%;             
  display: flex;
  flex-direction: column;  
  align-items: center;     
  text-align: center;      
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;               
}

.social-list {
  display: flex;
  justify-content: center; 
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-link {
  color: white;
  font-size: 28px;         
  transition: 0.3s;
}

.social-link:hover {
  color: var(--maximum-yellow-red); 
}