<footer class="footer">
  <div class="container">
    
    <div class="footer-bottom">
      <p class="copyright">&copy; 2025 | Patrick FRANCK</p>
      <ul class="social-list">
        <li><a href="https://www.linkedin.com/in/patrick-franck-8266ab170" class="social-link"><ion-icon name="logo-linkedin"></ion-icon></a></li>
        <li><a href="https://github.com/patrickfranck" class="social-link"><ion-icon name="logo-github"></ion-icon></a></li>
        <li><a href="https://www.facebook.com/patrick.franck.146" class="social-link"><ion-icon name="logo-facebook"></ion-icon></a></li>

      </ul>
    </div>

  </div>
</footer>