@import url('../components/card.css');
@import url('../components/btn.css');


.service { padding-block-start: calc(var(--section-padding) + 10px);
    background-color: var(--maximum-yellow-red_a10);
        }

.service-list {
  display: grid;
  gap: 25px;
  grid-auto-rows: 1fr;
}

.card-title { margin-block-end: 10px; }

.card ion-icon { font-size: 3.2rem; }

.card .body-sm { color: var(--jet); }

.card-md { 
  background: linear-gradient(135deg, hsl(210, 40%, 35%), hsl(19, 100%, 55%));
  padding: 60px 40px;
  border-radius: 20px 20px 20px 20px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  height: 100%;
  
}

.card-container {
  display: flex; 
  height: 100%; 
}





@media (min-width: 768px) {

  .service-list { grid-template-columns: 1fr 1fr; }

}