<main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero" aria-label="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">Salut, c'est moi !!</p>

            <h1 class="headline-lg">Patrick FRANCK</h1>

            <h3 class="headline-sm">Développeur web fullstack</h3>

            <p class="hero-text body-md"> 
              Tunis, Tunisie.
            </p>

            <a href="#" class="btn btn-primary">Commençons</a>

          </div>

          <figure class="hero-banner">
            <img src="assets/images/real-hero.png" width="680" height="645"
              alt="Jassa, the blonde, dressed in a green hoodie with a smile on her face" class="w-100">
          </figure>

        </div>
      </section>





      <!-- 
        - #CLIENT
      -->

      <section class="client" aria-label="Trusted client">
        <div class="container">

          <ul class="slider">

            <li class="slider-item">
              <img src="assets/images/client-1.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

            <li class="slider-item">
              <img src="assets/images/client-2.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

            <li class="slider-item">
              <img src="assets/images/client-3.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

            <li class="slider-item">
              <img src="assets/images/client-4.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

            <li class="slider-item">
              <img src="assets/images/client-5.svg" width="130" height="40" alt="clients" class="w-100">
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="section about" aria-label="about me">
        <div class="container">

          <figure class="about-banner">
            <img src="assets/images/yesman.png" width="580" height="554" loading="lazy"
              alt="Jassa, the blonde, dressed in a black tops with a smile on her face" class="w-100">
          </figure>

          <div class="about-content">

            <h2 class="title-lg">Bienvenue sur mon portfolio !.</h2>

            <p class="body-md section-text">
              
 Je suis un développeur web fullstack ayant un master Génie logiciel et plus de 
trois ans d'expérience. Ma passion pour les technologies web m'a amené à me spécialiser dans 
les frameworks Angular, Laravel et Spring Boot. Grâce à mes compétences, je suis capable de concevoir 
des applications web robustes et performantes, en assurant une expérience utilisateur optimale. 
Je suis constamment à l'affût des dernières tendances et je m'engage à fournir des solutions innovantes. 
Explorez mon portfolio pour découvrir mes réalisations et n'hésitez pas à me contacter pour discuter de vos projets !
            </p>

            <ul class="about-list">

              <li>
                <p class="list-text">
                  <strong class="strong title-md">10+</strong> Projets réalisés
                </p>
              </li>

              <li>
                <p class="list-text">
                  <strong class="strong title-md">5+</strong>Clients satisfaits
                </p>
              </li>

            </ul>

            <div class="wrapper">
              <a routerLink="/contact" class="btn btn-primary">Contactez moi</a>

              <a routerLink="/portfolio" class="btn btn-secondary">Portfolio</a>
            </div>

          </div>

        </div>
      </section>





      <!-- 
        - #SKILL
      -->

      <section class="section skill" aria-labelledby="skill-label">
        <div class="container">

          <div class="skill-content">

            <h2 class="section-title headline-md" id="skill-label">Mes Skills</h2>

            <ul class="skill-list">

              <li>
                <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">

                  <div class="card-media">
                    <ion-icon name="logo-html5"></ion-icon>
                  </div>

                  <h2 class="card-title">HTML</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(41, 99%, 64%)">

                  <div class="card-media">
                    <ion-icon name="logo-css3"></ion-icon>
                  </div>

                  <h2 class="card-title">CSS</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(221, 100%, 79%)">

                  <div class="card-media">
                    <ion-icon name="logo-angular"></ion-icon>
                  </div>

                  <h2 class="card-title">Angular</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(76, 39%, 72%)">

                  <div class="card-media">
                    <ion-icon name=""></ion-icon>
                  </div>

                  <h2 class="card-title">PHP</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(245, 100%, 90%)">

                  <div class="card-media">
                    <ion-icon name=""></ion-icon>
                  </div>

                  <h2 class="card-title">Java</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(245, 100%, 90%)">

                  <div class="card-media">
                    <ion-icon name="logo-python"></ion-icon>
                  </div>

                  <h2 class="card-title">Python</h2>

                </div>
              </li>

              <li>
                <div class="card card-sm" style="background-color: hsl(245, 100%, 90%)">

                  <div class="card-media">
                    <ion-icon name=""></ion-icon>
                  </div>

                  <h2 class="card-title">SQL</h2>

                </div>
              </li>

            </ul>

          </div>

          <figure class="skill-banner">
            <img src="assets/images/real-hero.png" width="581" height="657" loading="lazy"
              alt="Jassa, the blonde, dressed in a green hoodie with a smile on her face" class="w-100">
          </figure>

        </div>
      </section>





      <!-- 
        - #CTA
      -->

     





      <!-- 
        - #TESTIMONIALS
      -->

      <section class="section testi" aria-labelledby="testi-label">
        <!--div class="container">

          <h2 class="headline-md section-title text-center" id="testi-label">Testimonial</h2>

          <ul class="slider">

            <li class="slider-item card-container">
              <div class="card card-lg">

                <figure class="card-media">
                  <img src="assets/images/testi-1.jpg" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                    class="img-cover">
                </figure>

                <div class="card-content">

                  <blockquote class="body-sm">
                    Dolor lorem is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s.
                  </blockquote>

                  <p class="client-name">Jennifer Lutheran</p>

                  <p class="client-title">CEO at pxdraft</p>

                </div>

              </div>
            </li>

            <li class="slider-item card-container">
              <div class="card card-lg">

                <figure class="card-media">
                  <img src="assets/images/testi-2.jpg" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                    class="img-cover">
                </figure>

                <div class="card-content">

                  <blockquote class="body-sm">
                    Dolor lorem is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s.
                  </blockquote>

                  <p class="client-name">Jennifer Lutheran</p>

                  <p class="client-title">CEO at pxdraft</p>

                </div>

              </div>
            </li>

            <li class="slider-item card-container">
              <div class="card card-lg">

                <figure class="card-media">
                  <img src="assets/images/testi-3.jpg" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                    class="img-cover">
                </figure>

                <div class="card-content">

                  <blockquote class="body-sm">
                    Dolor lorem is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s.
                  </blockquote>

                  <p class="client-name">Jennifer Lutheran</p>

                  <p class="client-title">CEO at pxdraft</p>

                </div>

              </div>
            </li>

            <li class="slider-item card-container">
              <div class="card card-lg">

                <figure class="card-media">
                  <img src="assets/images/testi-4.jpg" width="100" height="100" loading="lazy" alt="Jennifer Lutheran"
                    class="img-cover">
                </figure>

                <div class="card-content">

                  <blockquote class="body-sm">
                    Dolor lorem is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s.
                  </blockquote>

                  <p class="client-name">Jassa Lutheran</p>

                  <p class="client-title">CEO at pxdraft</p>

                </div>

              </div>
            </li>

          </ul>

        </div-->
      </section>

    </article>
  </main>
