<section class="formation-section">
    <h2>FORMATION</h2>
    <p class="intro">Voici mon parcours depuis mes débuts en développement web</p>
  
    <div class="timeline">
      
      <div class="timeline-item right">
        <div class="timeline-content">
          <h3>2019-2021</h3>
          <h4>Master Génie Logiciel</h4>
          <p>Polytech International<br>
          (Master proffessionel Génie logiciel).<br>
          (Tunis - Tunisie).</p>
        </div>
        <div class="timeline-circle">
          <img src="assets/images/Logo-Pi.jpg" alt="Logo-Pi">
        </div>
      </div>
   
      
      <div class="timeline-item left">
        <div class="timeline-content">
          <h3>2018-2019</h3>
          <h4>Licence Appliqué en informatique Appliquée</h4>
          <p>Polytech International<br>
          (Licence conception et développement d’application web et mobile, architechture logiciel et base de donnée ).<br>
          (Tunis - Tunisie).</p>
          </div>
                <div class="timeline-circle">
          <img src="assets/images/Logo-Pi.jpg" alt="Logo-Pi">
        </div>
      </div>
  
      
      <div class="timeline-item right">
        <div class="timeline-content">
          <h3>2016-2018</h3>
          <h4>Prépa Informatique et Electronique</h4>
          <p>Polytech International<br>
          (Tunis - Tunisie).</p>
        </div>
        <div class="timeline-circle">
          <img src="assets/images/Logo-Pi.jpg" alt="Logo-Pi">
        </div>
      </div>
  

      <div class="timeline-item left">
        <div class="timeline-content">
          <h3>2016</h3>
          <h4>Bac scientifique</h4>
          <p>Avant ça, j'ai toujours été attiré par le mécanisme et la façon de fonctionner des appareils électronique (ordinateurs et téléphones portables), j’ai d’abord commencé par me passionner pour la complexité de l’informatique puis progressivement dans la programmation.<br>
          (Pointe-Noire - Congo).</p>
        </div>
        <div class="timeline-circle">
          <img src="assets/images/Ordinateur.jpg" alt="informatique">
        </div>
      </div>
  
      
      <div class="timeline-start">
        <div class="timeline-circle start">
          <p>Début<br>de mon<br>Parcours</p>
        </div>
      </div>
    </div>
    <div class="cv-container">
  <a href="cv.pdf" target="_blank" class="btn-cv">
    <ion-icon name="cloud-download-outline"></ion-icon>
    <span>Mon cv complet</span>
  </a>
</div>

  </section>
  