html {
  scroll-behavior: smooth;
}

html, body {
  overflow: auto !important;
  height: auto !important;
  width: 100%;
  margin: 0;
  padding: 0;
  
}

ion-app {
  height: 100% !important;
  display: block;
}